{% extends 'blog/base.html' %}
{% block title %}Головна — FutureBlog{% endblock %}

{% block content %}
<h1 class="mb-4">✨ Обрані статті</h1>

<div class="row">
  {% for article in featured_articles %}
  <div class="col-md-4 mb-4">
    <div class="card text-dark h-100 shadow-sm">
      {% if article.images.first %}
      <img src="{{ article.images.first.image.url }}" class="card-img-top" alt="{{ article.title }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description|truncatewords:20 }}</p>
        <a href="{{ article.get_absolute_url }}" class="btn btn-outline-primary">Читати</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
